/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import "../../../../themes/studio-val/sass/abstracts/colors";
@import "../../../../themes/studio-val/sass/abstracts/borders";

.block-editor-block-list__block {
	margin-bottom: 0;
	max-width: 840px;
}

.wp-block__callout {
	width: 840px;
	margin: 1.5rem auto;

	.wp-block-studioval-blocks-callout {
		margin-left: 0;
		margin-right: 0;
	}

	.block-editor-block-list__block {
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-top: 0 !important;
	}

	.wp-block-button {
		font-weight: 600;
		font-size: 15px !important;
		font-family: "Poppins", sans-serif;
	}

	.wp-block-list {
		li {
			&:not(:last-of-type) {
				margin-bottom: 0.5rem;
			}

			&:before {
				float: left;
				margin-right: 0.25rem;
			}
		}
	}
}
